<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
</head>
<body>
    <h1>CONTACT INFORMATION</h1><br><br>
    <h2>Designed by:</h2>
   <center> <img src="{{ url_for('static', filename='photo1.png') }}" width="250"> </center>
    <h3>
       <b> 
            Rajath.B<br>
            Email: Gptaarakere01@gmail.com<br><br>
       </b>
        Contact above Email for more design<br>
    </h3>
</body>
<style>
    body{
        background-color: #212121;
        color: white;
    }
    h2{
        text-align: justify;
    }
    h1{
        text-align: center;
        color: white;
    }
    img{
        color: white;
        text-align: justify;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align:center;
    }
</style>
</html>